html {
    overflow: hidden;
    margin: 0; padding: 0;
    width: 100vw;
    /* height: 100vh; */
    max-width:100vw;
}
body {
 /* added */
 width: 100vw;
 /* height: 100vh; */
 overflow-y: scroll;

}
.home {
    height: 100%;
    overflow: scroll;
        /* background-color: red; */
    margin-top: 2%;

    /* over */
}
.main{
    /* background-color: red; */
    padding: 2vh 1vw !important;
    border-left: 1px solid rgb(207, 203, 203) !important;
    overflow-y:scroll !important;
    /* height: 100vh !important; */

}
.side {
    /* background-color: blue; */
}
.view_switch{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px;
}
@media only screen and (max-width: 600px) {

    .view_switch{
        display: none !important;
    }
}